<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Enviar parámetros del request HTTP GET - URL</title>
</head>
</head>
<body>
<h1>Enviar parámetros del request HTTP GET - URL</h1>
<ul>
<li><a th:href="@{/params/string(texto='Hola John')}">/params/string?texto=Hola Andres</a></li>
<li><a th:href="@{/params/string(texto='Que tal John')}">/params/string?texto=Que tal John</a></li>
<li><a th:href="@{/params/mix-params(saludo='Como estas John', numero=7)}">/params/mix-params?saludo=Como estas John&numero=7</a></li>
<li><a th:href="@{/params/mix-params-request(saludo='Como estas John', numero=7)}">/params/mix-params-request?saludo=Como estas John&numero=7</a></li>
</ul>
</body>
</html>